body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#222;
  font-family:Arial;
}

.login-box{
  background:white;
  padding:30px;
  border-radius:10px;
  width:300px;
  text-align:center;
}

.login-box h2{
  margin-bottom:20px;
}

.login-box input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

.login-box button{
  width:100%;
  padding:10px;
  background:blue;
  color:white;
  border:none;
  cursor:pointer;
}